---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Simulator Scheduling es una herramienta interactiva para simular algoritmos de planificación de CPU, como FCFS y SJF." />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<script src="../js/utilities/logic_table.js"></script>
		<title>{title}</title>
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
    html {
        font-family: system-ui, sans-serif;
        background: #f3f4f6;
    }

    body {
        margin: 0;
        padding: 0;
        width: 100vw;
        height: 100vh;
        color: #000;
    }

    input[type="number"] {
        -moz-appearance: textfield;
        appearance: textfield;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>

